html, body {

    background-color: silver;
}

#main{

    display:flex;
    flex-direction: column;
    align-items: center;
}
.square {

    display:flex;
    height: 100px;
    width: 100px;
    border: solid black;
    background-color: beige;
    text-align: center;
    font-size: 80px;
    align-items: center;
    justify-content: center;

}

#gameboard{



    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    height: 300px;
    width: 300px;
}