.square {


    height: 50px;
    width: 50px;
    border: solid black;
    background-color: beige;
    text-align: center;
    font-size: 40px;

}

#gameboard{

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    height: 150px;
    width: 150px;
}