html, body {

    background-color: #BDE8EF;


}
header{

    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}
#main{

    display:flex;
    flex-direction: column;
    align-items: center;
}

#center {

    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.players {
    height: 30vw;
    margin: 0 30px 0 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15vw;

}

#loadscreen{
    display:flex;
    justify-content: center;
    position:absolute;
    z-index: 1;
    left:0;
    right:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: #BDE8EF;
}

#gametype{

    height: 200px;
    width: 400px;
    margin-top:200px;
    display:flex;
    justify-content: space-between;
    position:fixed;
}

.gametypebutton {

    display:flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    border-radius: 10px;
}

#pvp {

    background-color: #FFD4E5;
}

#pvc {
    background-color: #FEFFA2;

}

#nameform{

    height: 200px;
    width: 400px;
    margin-top:200px;

}

#nameform{
    display:none;
}

#gameboard{



    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    height:30vw;
    width: 30vw;
}

#p1symbol, #p2symbol{

    font-size: 50px;
}

.square {

    display:flex;
    height: 10vw;
    width: 10vw;
    border: solid black;
    background-color: beige;
    text-align: center;
    font-size: 100px;
    align-items: center;
    justify-content: center;

}

.reset{

    display:flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: #E0CDFF;
    margin-top: 30px;
}
